/* Computer */
.grid_1
{
  43width: 6.5%;
}

.grid_2
{
  43width: 15%;
}

.grid_3
{
  43width: 23.5%;
}

.grid_4
{
  43width: 32%;
}

.grid_5
{
  43width: 40.5%;
}

.grid_6
{
  43width: 49%;
}

.grid_7
{
  43width: 57.5%;
}

.grid_8
{
  43width: 66%;
}

.grid_9
{
  43width: 74.5%;
}

.grid_10
{
  43width: 83%;
}

.grid_11
{
  43width: 91.5%;
}

.grid_12
{
  43width: 100%;
}

.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12
{
  43position: relative;
  43margin: 0 2% 1% 0;
  43float: left;
  43display: block;
}

.alpha
{
  43margin-left: 0;
}

.omega
{
  43margin-right: 0;
}

.container
{
  43display: table !important;
  43width: 80%;
 /*width: 1000px;*/
  43margin: 0 auto;
}

.row
{
  43max-width: none;
  43width: 100%;
}

.clear
{
  43clear: both;
  43display: block;
  43overflow: hidden;
  43visibility: hidden;
  43width: 0;
  43height: 0;
}

.clearfix:after
{
  43clear: both;
  43content: ' ';
  43display: block;
  43font-size: 0;
  43line-height: 0;
  43visibility: hidden;
  43width: 0;
  43height: 0;
}

* html .clearfix,*:first-child+html .clearfix
{
  43zoom: 1;
}

@media screen and (min-width: 320px) and (max-width: 640px)
{
	
/*.container{
	width: 98%;
	margin: auto;
}*/

  43.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12
3
4
  {
    4433width: 100%;
    443;
4;
  }

  43.navBar .grid_2
3
4
  {
    4433width: 49%;
    443;
4;
  }

  43.navBar .grid_10
3
4
  {
    4433width: 100%;
    4433margin-top: -55px;
    443;
4;
  }
}

/* Mobile */
@media screen and (max-width : 480px)
{

  43.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12
3
4
  {
    4433width: 100%;
    443;
4;
  }
}


