.table-responsive {
  width: 100%;
  margin-bottom: 16.5px;
  overflow-y: hidden;
  overflow-x: auto;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  border: 1px solid #ddd;
  -webkit-overflow-scrolling: touch; }
  .table-responsive > .table {
    margin-bottom: 0; }
    .table-responsive > .table > thead > tr > th,
    .table-responsive > .table > thead > tr > td,
    .table-responsive > .table > tbody > tr > th,
    .table-responsive > .table > tbody > tr > td,
    .table-responsive > .table > tfoot > tr > th,
    .table-responsive > .table > tfoot > tr > td {
      white-space: nowrap; }
  .table-responsive > .table-bordered {
    border: 0; }
    .table-responsive > .table-bordered > thead > tr > th:first-child,
    .table-responsive > .table-bordered > thead > tr > td:first-child,
    .table-responsive > .table-bordered > tbody > tr > th:first-child,
    .table-responsive > .table-bordered > tbody > tr > td:first-child,
    .table-responsive > .table-bordered > tfoot > tr > th:first-child,
    .table-responsive > .table-bordered > tfoot > tr > td:first-child {
      border-left: 0; }
    .table-responsive > .table-bordered > thead > tr > th:last-child,
    .table-responsive > .table-bordered > thead > tr > td:last-child,
    .table-responsive > .table-bordered > tbody > tr > th:last-child,
    .table-responsive > .table-bordered > tbody > tr > td:last-child,
    .table-responsive > .table-bordered > tfoot > tr > th:last-child,
    .table-responsive > .table-bordered > tfoot > tr > td:last-child {
      border-right: 0; }
    .table-responsive > .table-bordered > tbody > tr:last-child > th,
    .table-responsive > .table-bordered > tbody > tr:last-child > td,
    .table-responsive > .table-bordered > tfoot > tr:last-child > th,
    .table-responsive > .table-bordered > tfoot > tr:last-child > td {
      border-bottom: 0; }

.visible-xs {
  display: block !important; }

table.visible-xs {
  display: table; }

tr.visible-xs {
  display: table-row !important; }

th.visible-xs,
td.visible-xs {
  display: table-cell !important; }

.visible-xs-block {
  display: block !important; }

.visible-xs-inline {
  display: inline !important; }

.visible-xs-inline-block {
  display: inline-block !important; }

.hidden-xs {
  display: none !important; }

a.leaf-btn {
  font-size: 20px;
  font-weight: bold;
  height: 60px;
  line-height: 60px; }

.click-n-go-header .header-nav-wrapper {
  margin: 20px 0 0 0; }
  .click-n-go-header .header-nav-wrapper nav.header-nav ul {
    float: none; }
    .click-n-go-header .header-nav-wrapper nav.header-nav ul li {
      display: block;
      width: 100%; }
      .click-n-go-header .header-nav-wrapper nav.header-nav ul li a {
        padding: 10px 0;
        width: 100%; }

.click-n-go-content {
  top: -12px; }
  .click-n-go-content section .inner-container {
    padding: 20px 10px;
    width: 100%; }
    .click-n-go-content section .inner-container h1 {
      font-size: 20px; }
    .click-n-go-content section .inner-container h2 {
      font-size: 16px; }
    .click-n-go-content section .inner-container .row {
      margin-bottom: 20px; }
    .click-n-go-content section .inner-container .leaf-btn-shadow {
      -webkit-transform: scale(0.8);
      -ms-transform: scale(0.8);
      -o-transform: scale(0.8);
      transform: scale(0.8);
      position: relative;
      top: 20px;
      left: -20px;
      min-width: 265px; }
      .click-n-go-content section .inner-container .leaf-btn-shadow .leaf-btn-text {
        line-height: 20px;
        margin-left: 50px;
        width: 80%; }
        .click-n-go-content section .inner-container .leaf-btn-shadow .leaf-btn-text span.title {
          font-size: 16px; }
        .click-n-go-content section .inner-container .leaf-btn-shadow .leaf-btn-text span.description {
          font-size: 14px; }
    .click-n-go-content section .inner-container .circle-btn {
      -webkit-transform: scale(0.6);
      -ms-transform: scale(0.6);
      -o-transform: scale(0.6);
      transform: scale(0.6);
      left: -36px;
      margin-left: auto;
      margin-right: auto; }
    .click-n-go-content section .inner-container .home-section-col {
      margin: 20px 0 0 0; }
      .click-n-go-content section .inner-container .home-section-col .downloads a.fa-file-pdf-o, .click-n-go-content section .inner-container .home-section-col .downloads a.fa-file-word-o {
        font-size: 20px; }
      .click-n-go-content section .inner-container .home-section-col .downloads a.fa-file-pdf-o {
        margin: 0 10px 0 0; }

.xs-center {
  text-align: center; }

.navbar-default li {
  background-color: #000; }

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border-color: gray; }

img.doe-logo {
  top: -4px;
  left: 6px; }

/*# sourceMappingURL=xsmall.css.map */
