.click-n-go-content {
    top: -12px;

    section {
        .inner-container {
            padding: 20px 10px;
            width: 100%;

            h1 {
                font-size: 20px;
            }

            h2 {
                font-size: 16px;
            }

            p {}

            ul {
                li {}
            }

            .row {
                margin-bottom: 20px;
            }

            .leaf-btn {}

            .leaf-btn-shadow {
                @include scale(0.8);

                position: relative;
                top: 20px;
                left: -20px;
                min-width: 265px;

                .leaf-btn-text {
                    line-height: 20px;
                    margin-left: 50px;
                    width: 80%;

                    span.title {
                        font-size: 16px;
                    }

                    span.description {
                        font-size: 14px;
                    }
                }
            }

            .circle-btn {
                @include scale(0.6);

                left: -36px;
                margin-left: auto;
                margin-right: auto;
            }

            .home-section-col {
                margin: 20px 0 0 0;

                .downloads {
                    a.fa-file-pdf-o, a.fa-file-word-o {
                        font-size: 20px;
                    }

                    a.fa-file-pdf-o {
                        margin: 0 10px 0 0;
                    }

                    a.fa-file-word-o {}
                }
            }
        }
    }
}
