.click-n-go-content {
    section {
        .inner-container {
            //   width: 80%;

            h1 {}

            h2 {}

            p {}

            ul {
                li {}
            }

            .leaf-btn {}

            .leaf-btn-shadow {
                .leaf-btn-text {
                    span.title {}

                    span.description {}
                }
            }

            .circle-btn {
                margin-left: auto;
                margin-right: auto;
            }

            .home-section-col {
                .downloads {
                    a.fa-file-pdf-o, a.fa-file-word-o {
                        font-size: 25px;
                    }

                    a.fa-file-pdf-o {
                        margin: 0 10px 0 0;
                    }

                    a.fa-file-word-o {}
                }
            }
        }
    }
}
