$orange-link: #fff;
$orange-link-hover: #F3F3AA;

.orange-bg a {
    color: $orange-link !important;
}

.orange-bg a:hover {
    color: $orange-link-hover !important;
}

.click-n-go-content {
    clear: both;
    display: block;
    min-height: 100vh;
    position: relative;
    top: -50px;

    section {
        // min-height: 320px;
        padding: 0;
        text-align: center;
        width: 100%;

        .inner-container {
            display: block;
            margin-left: auto;
            margin-right: auto;
            padding: 40px 0;

            // width: 60%;

            h1, h2 {
                display: block;
            }

            h2 {
                font-size: 20px;
            }

            p {
                color: $content-text-color;
                display: block;
                text-align: left;
            }

            ul {
                color: $content-text-color;
                display: block;
                list-style: disc;
                margin: 0 0 0 10px;
                padding: 0 0 0 10px;

                li {
                    display: list-item;
                    margin: 0 0 15px 0;
                    text-align: left;
                }
            }

            a {
                color: $header-link-color;
                text-decoration: underline;

                &:hover {
                    color: $header-link-hover-color;
                }
            }

            .row {
                margin-bottom: 30px;
            }

            .leaf-btn {
                @include leaf-btn;

                overflow: hidden;
                height: 77px;
                line-height: 83px;
            }

            .leaf-btn-shadow {
                position: relative;
                top: 20px;
                -moz-border-radius: 0px 100px 0px 100px !important;
                -moz-box-shadow: 5px 5px 0px 0px rgba(1, 134, 128, 1);
                -webkit-border-radius: 0px 100px 0px 100px !important;
                -webkit-box-shadow: 5px 5px 0px 0px rgba(1, 134, 128, 1);

                @include leaf-btn;

                border-radius: 0px 78px 0px 78px !important;
                box-shadow: 5px 5px 0px 0px rgba(1, 134, 128, 1);
                max-width: 600px;
                overflow: hidden;
                text-align: left;
                text-transform: none !important;

                .leaf-btn-text {
                    display: block;
                    height: 50%;
                    line-height: 30px;
                    margin-left: 100px;
                    position: relative;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 80%;

                    span.title {
                        color: $white;
                        display: block;
                        font-size: 20px;
                        font-weight: bold;
                        margin: 0;
                        padding: 0;
                    }

                    span.description {
                        color: #000;
                        display: block;
                        font-size: 18px;
                        font-weight: bold;
                        margin: 0;
                        padding: 0;
                    }
                }
            }

            .circle-btn {
                @include circle-btn;

                transform: scale(0.8, 0.8);
            }

            .home-section-col {
                display: block;
                margin: 40px 0;
                padding: 0;
                position: relative;

                a {
                    color: $home-section-col-link-color;
                    text-decoration: none;

                    &:hover {
                        color: $home-section-col-link-hover-color !important;
                    }
                }

                .downloads {
                    display: block;
                    height: 35px;
                    line-height: 35px;
                    margin: 0 0 25px 0;
                    position: relative;
                    text-align: left;
                    width: 100%;

                    a.fa-file-pdf-o, a.fa-file-word-o {
                        display: inline-block;
                        font-size: 40px;
                    }

                    a.fa-file-pdf-o {
                        color: $pdf;
                        margin: 0 15px 0 0;
                    }

                    a.fa-file-word-o {
                        color: $doc;
                    }
                }
            }
        }
    }
}

.click-n-go-content section .inner-container .circle-btn:hover, .click-n-go-content section .inner-container .circle-btn a:hover {
    background-color: #207D7A !important;
    color: #FFD905 !important;
}

html.ua-ios-8 {
    a.circle-btn span {
        top: 21.5% !important;
    }

    .leaf-btn-shadow .leaf-btn-text {
        top: 21.5% !important;
    }
}
