.navbar-default {
    background-color: transparent;
    border: none;
    padding-right: 2%;
}

.navbar-default
.navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background-color: transparent;
    color: #D6D6D6;
}

img.doe-logo {
    height: 50px;
    width: 50px;
    position: relative;
    top: -13px;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #FFFFFF;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #3C3A3A;
}

.navbar-default .navbar-toggle {
    border-color: #797979;
}

.navbar-default .navbar-nav {
    li {
        a {
            color: #A9A5A5;
            text-transform: uppercase;
        }
    }
}

.dropdown-menu {
    li {
        a {
            text-transform: inherit !important;
            text-align: right;
        }
    }
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    background-color: #D6D6D6;
    color: #fff !important;
}
