.click-n-go-header {
    .header-nav-wrapper {
        margin: 20px 0 0 0;

        nav.header-nav {
            button {
                span {}
            }

            ul {
                float: none;

                li {
                    display: block;
                    width: 100%;

                    a {
                        padding: 10px 0;
                        width: 100%;

                        &:hover {}
                    }
                }
            }
        }
    }
}
