.click-n-go-header {
    background: transparent;

    // background-image: url("/assets/img/clickandgo/header-background.png") no-repeat fixed center;
    display: block;

    //height: 405px;
    position: relative;
    width: 100%;

    .header-nav-wrapper {
        display: block;
        height: 25px;
        margin: 30px 0 0 0;
        text-align: right;
        width: 100%;

        nav.header-nav {
            button {
                background-color: $header-link-hover-color;
                font-size: 18px;
                height: 50px;
                line-height: 40px;
                padding: 0;
                width: 50px;

                span {
                    color: #313131;
                }
            }

            .active {
                color: $header-link-hover-color;
            }

            ul {
                float: right;
                list-style: none;

                li {
                    display: inline-block;
                    margin: 0;
                    padding: 0;
                    text-align: center;

                    a {
                        background-color: none !important;
                        background: none !important;
                        color: $header-link-color;
                        display: block;
                        font-size: 20px;
                        font-weight: bold;
                        line-height: 25px;
                        margin: 0;
                        padding: 10px;
                        text-align: center;
                        text-decoration: none;
                        text-transform: uppercase;
                        width: 166px;

                        &:hover {
                            background-color: none !important;
                            background: none !important;
                            color: $header-link-hover-color;
                        }

                        &:active {
                            background-color: none !important;
                            background: none !important;
                            color: $header-link-hover-color;
                        }

                        &:selected {
                            background-color: none !important;
                            background: none !important;
                            color: $header-link-hover-color;
                        }
                    }
                }

                ul.dropdown-menu {
                    li {
                        a {
                            &:hover {
                                background-color: $orange !important;
                                background: $orange !important;
                                color: $white;
                            }
                        }
                    }
                }
            }
        }
    }
}

.internal-header, .main-header {
    display: block;
    position: relative;
    margin-top: -55px;

    img.internal-header-image, img.main-header-image {
        width: 100%;
    }

    img.internal-header-image-bg, img.main-header-image-bg {
        width: 100%;
        position: absolute;
        top: 0;
        z-index: -1;
    }
}
