// PLACE VARIABLES HERE IF YOU WISH. IT IS A GOOD PRACTICE TO DECLARE YOUR VARIABLES IN ONE PLACE. YOU DO NOT HAVE TO, BUT IT COULD MAKE THINGS EASIER FOR YOU.

//HEADER COLOR VARIABLES

$header-link-color: #989490;
$header-link-hover-color: #dfdddd;

//NAVIGATION COLOR VARIABLES

//CONTENT COLOR VARIABLES

$orange: #f7a244;
$white: #fff;
$turquoise: #0ab1aa;
$content-text-color: #000;
$home-section-col-link-color: #1fa0e8;
$home-section-col-link-hover-color: $orange;
$pdf: #fa0000;
$doc: #0048c2;

//FOOTER COLOR VARIABLES

$footer-height: 155px;
$footer-border-color: #f7a244;
$footer-bg-color: #424446;
$footer-text-color: $header-link-color;
$footer-link-color: $header-link-color;
$footer-link-hover-color: $header-link-hover-color;

// END VARIABLES

html, body {
    color: $content-text-color;
    font-size: 16px;
    height: 100%;
    min-height: 100vh;
}

// OVERWRITE BOOTSTRAP ROW MARGINS

.row {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

//OVERWRITE BOOTSTRAP COL PADDING

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

// YOU CAN DECLARE REUSABLE CLASSES HERE

h1 {
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
}

h2 {
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
}

// DEFINE TEXT ALIGNMENT

.left {
    text-align: left;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

// DEFINE COLORS FOR BACKGROUNDS AND GLOBAL FONTS

.orange {
    color: $orange;
}

.white {
    color: $white;
}

.turquoise {
    color: $turquoise;
}

.orange-bg {
    background-color: $orange;
    background: url("/assets/img/clickandgo/bk-wampum.png");
}

.white-bg {
    background-color: $white;
}

.white-bg.white-top {
    position: relative;
    z-index: -1;
}

.turquoise-bg {
    background-color: $turquoise;
}

// REUSABLE LEAF BUTTON

@mixin leaf-btn {
    -moz-border-radius: 0px 50px 0px 50px;
    -webkit-border-radius: 0px 50px 0px 50px;
    background-color: $turquoise;
    border-radius: 0px 50px 0px 50px;
    border: 0px none $turquoise;
    color: $white !important;
    display: block;
    font-size: 30px;
    font-weight: bold;
    height: 100px;
    line-height: 100px;
    position: relative;
    text-align: center;
    text-decoration: none !important;
    text-transform: uppercase;
    width: 100%;
}

// REUSABLE CIRCLE BUTTON

@mixin circle-btn {
    background-color: $turquoise;
    border-radius: 50%;
    color: $white !important;
    display: block;
    font-size: 55px;
    font-weight: bold !important;
    height: 140px;
    overflow: hidden;
    position: relative;
    text-align: center;
    text-decoration: none !important;
    width: 140px;

    &:before {
        -moz-box-shadow: 3px 3px 0px 0px rgba(1, 134, 128, 1);
        -webkit-box-shadow: 3px 3px 0px 0px rgba(1, 134, 128, 1);
        background-color: #7accc8;
        border-radius: 50%;
        box-shadow: 3px 3px 0px 0px rgba(1, 134, 128, 1);
        content: "";
        display: block;
        height: 86px;
        left: 27px;
        position: absolute;
        top: 27px;
        width: 86px;
        z-index: 1000;
    }

    &:after {
        -ms-transform: rotate(33deg);
        -webkit-transform: rotate(33deg);
        background-color: #000;
        border-bottom-left-radius: 27%;
        border-top-left-radius: 27%;
        content: "";
        height: 90px;
        left: 29px;
        opacity: 0.1;
        position: absolute;
        top: 49px;
        transform: rotate(33deg);
        width: 152px;
        z-index: 900;
    }

    span {
        display: block;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1100;
    }
}

// generic transform
@mixin transform($transforms) {
    -moz-transform: $transforms;
    -o-transform: $transforms;
    -ms-transform: $transforms;
    -webkit-transform: $transforms;
    transform: $transforms;
}

// scale
@mixin scale($scale) {
    @include transform(scale($scale));
}
